[core]
  autocrlf = false
  excludesfile = ~/.gitignore_global
  whitespace = trailing-space,space-before-tab,indent-with-non-tab
  editor = vim

[user]
  name = Philipp Meißner
  email = pm@zeit.io

[alias]

[branch]
  autosetuprebase = always

[github]
  user = PhilippMeissner
[push]
	default = matching
[remote "origin"]
  url = https://github.com/philippmeissner/dotfiles.git
